---
import { Icon } from 'astro-icon/components';
import Data from '../content/general/general.json';
---

<footer class="footer bg-gray-200 text-white py-8">
  <div class="container flex flex-col items-center gap-8 mx-auto px-4 text-center">
    <!-- Logo -->
    <div class="footer__logo">
      <img src={Data.logo} alt="Company Logo" class="mx-auto h-12" />
    </div>

    <!-- Address -->
    <div class="footer__address mb-2">
      <p class="text-primary-500 font-medium">{Data.city}, {Data.state}</p>
    </div>

    <!-- Phone Number -->
    <div class="footer__phone">
      <p class="text-primary-500 font-medium">Phone: <a href={`tel:${Data.phoneNumber}`}>{Data.phoneNumber}</a></p>
    </div>
  </div>
</footer>
