---
import '../styles/global.css';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Data from "../content/general/general.json";

// Accessing the title from Astro.props
const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/bn-astro-test/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<style>
			#contact-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease;
}

#contact-section.visible {
    opacity: 1;
    visibility: visible;
}

		</style>
	</head>
	<body>
        <Header />
        <main>
            <slot />
        </main>
		<Footer />
		<section class="bg-primary-500 w-full fixed bottom-0 py-3 " id="contact-section">
			<div class="container flex items-center justify-center">
				<a href={`tel:${Data.phoneNumber}`} class="secondary-button uppercase">Call Now: {Data.phoneNumber}</a>
			</div>
		</section>

		<script>
			window.addEventListener('scroll', () => {
    const section = document.getElementById('contact-section');
    const scrollPosition = window.scrollY;

    if (scrollPosition > 200) {
        section.classList.add('visible');
    } else {
        section.classList.remove('visible');
    }
});
		</script>
	</body>
</html>
